{% extends "base.html" %}

{% block title %}вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Неверный логин или пароль!
            Попробуйте еще раз...
        </p>
    {% else %}
        <p>Заполните данные в форме ниже:</p>
    {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                 <p><input type="submit" value="Вход"></p>
            </form>
        <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
        </div>
{% endblock %}