{% extends 'base.html' %}
{% load static %}
{% block title %}
  Список всех вакансий
{% endblock %}

{% block content %}
  {% for job in job_list %}
        <div class="card col-lg-4" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">
              <strong>
                  <a href="{% url 'job_detail' job.id %}">
                {{ job.job_position }}
                  </a>
              </strong>
                <div>
                    <small>{{ job.about_worker }}</small>
                    <p></p>
                    <small>{{ job.job_date }}</small>
                </div>
            </h5>
          </div>
        </div>
  {% endfor %}
{% endblock %}