{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}
  Создание вакансии
{% endblock %}
{% block content %}
  <div class="col-lg-12">
    <form id="item_form" method="post"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <p>
        <button type="submit">
          {% if form.instance.id %}
            Обновить
          {% else %}
            Сохранить
          {% endif %}
        </button>
      {% if form.instance.id %}
      <a href="{% url 'job_delete' form.instance.id %}">
        Удалить
      </a>
    {% endif %}
      </p>
    </form>
  </div>
{% endblock %}