{% extends 'base.html' %}
{% load static %}
{% block title %}
  Список вакансий
{% endblock %}

{% block content %}
  {% for job in job_list %}
      {% if job.job_created_by.username == user.username %}
        <div class="card col-lg-4" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'job_detail' job.id %}">
                {{ job.job_position }}
              </a>
                <div>
                    <small>{{ job.about_worker }}</small>
                    <p></p>
                    <small>{{ job.job_date }}</small>
                </div>
            </h5>
          </div>
        </div>
      {% endif %}
  {% endfor %}
{% endblock %}